<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="/">Home</a>
      <a class="nav-link {% if page.url == '/about/' %}active{% endif %}" href="/about">About</a>
      <a class="nav-link {% if page.url == '/list/' %}active{% endif %}" href="/list">List</a>
      <!-- {% for my_page in site.pages %}
        {% if my_page.title %}
          {% if my_page.menu == 'main' %}
          <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.url }}</a>
          {% endif %}
        {% endif %}
      {% endfor %} -->
    </nav>
  </div>
</div>

<div class="blog-header">
  <div class="container">
    <h1 class="blog-title"><span class="fa fa-sticky-note-o"></span> Bluer's Notes</h1>
    <p class="lead blog-description">Read at your own risk...</p>
  </div>
</div>